<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mov</string>
				<string>qt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeName</key>
			<string>MOVIE</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MooV</string>
				<string>moov</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>avi</string>
				<string>divx</string>
				<string>vfw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-msvideo</string>
				<string>video/msvideo</string>
				<string>video/avi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MOVIE</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>VfW</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpg</string>
				<string>mpeg</string>
				<string>mpe</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeName</key>
			<string>MOVIE</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MPEG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m1v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeName</key>
			<string>MOVIE</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m2v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/mpeg2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MOVIE</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>m2v</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asf</string>
				<string>asx</string>
				<string>wm</string>
				<string>wmp</string>
				<string>wmv</string>
				<string>wmx</string>
				<string>wvx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeName</key>
			<string>MOVIE</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
				<string>mpg4</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/mp4</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MOVIE</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mpg4</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-m4v</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MOVIE</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>M4V</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mqv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeName</key>
			<string>MOVIE</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dat</string>
				<string>ifo</string>
				<string>vob</string>
				<string>tp</string>
				<string>rm</string>
				<string>rmvb</string>
				<string>ogm</string>
				<string>mkv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeName</key>
			<string>MOVIE</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>smi</string>
				<string>srt</string>
				<string>sub</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SUBTITLE</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Movist</string>
	<key>CFBundleIdentifier</key>
	<string>com.cocoable.Movist</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>mvst</string>
	<key>CFBundleVersion</key>
	<string>0.3.0</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
