<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>avi</string>
				<string>vfw</string>
				<string>divx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-msvideo</string>
				<string>video/msvideo</string>
				<string>video/avi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-AVI</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>VfW </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpg</string>
				<string>mpe</string>
				<string>mpeg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeName</key>
			<string>Movie-MPEG</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MPEG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m1v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeName</key>
			<string>Movie-MPEG1</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BINA</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m2v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/mpeg2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-MPEG2</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>m2v </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m2ts</string>
				<string>ts</string>
				<string>tp</string>
				<string>trp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeName</key>
			<string>Movie-MPEG2TS</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vob</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeName</key>
			<string>Movie-VOB</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
				<string>mpg4</string>
				<string>mqv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/mp4</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-MPEG4</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mpg4</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-m4v</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-MPEG4</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>M4V </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mov</string>
				<string>qt</string>
				<string>qtl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-quicktimeplayer</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-QuickTime</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MooV</string>
				<string>moov</string>
				<string>qtlk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asf</string>
				<string>asx</string>
				<string>wm</string>
				<string>wmv</string>
				<string>wmp</string>
				<string>wmx</string>
				<string>wvx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeName</key>
			<string>Movie-WindowsMedia</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rm</string>
				<string>rmvb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeName</key>
			<string>Movie-RealMedia</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeName</key>
			<string>Movie-OGM</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mkv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeName</key>
			<string>Movie-MKV</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeName</key>
			<string>Movie-FLV</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3gp</string>
				<string>3gpp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/3gpp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-3GPP</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>3gpp</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3g2</string>
				<string>3gp2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/3gpp2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-3GPP2</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>3gp2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dv</string>
				<string>dif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-dv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-DV</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>dvc!</string>
				<string>DVSF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dat</string>
				<string>ifo</string>
				<string>skm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movies.icns</string>
			<key>CFBundleTypeName</key>
			<string>Movie-ETC</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>smi</string>
				<string>sami</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Subtitle-SMI</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>srt</string>
				<string>txt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Subtitle-SRT</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ssa</string>
				<string>ass</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Subtitle-SSA</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sub</string>
				<string>rar</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Subtitle-SUB</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mks</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Subtitle-MKS</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Movist</string>
	<key>CFBundleIdentifier</key>
	<string>com.cocoable.Movist</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>mvst</string>
	<key>CFBundleVersion</key>
	<string>0.6.7</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6.7</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
